<launch>
    <!-- vehicle name -->
    <!-- <arg name="vehicle_name" default="bluerov" /> -->
    
    <!-- launch robot specific nodes in namespace -->
    <!-- <group ns="$(arg vehicle_name)"> -->
    <node name="ground_truth_helper" pkg="bluerov_control" type="ground_truth_helper.py"></node>
    <node name="configuration_helper" pkg="bluerov_control" type="configuration_helper.py"></node>
    <!-- </group> -->
  
</launch>