<launch> 
    <arg name="vehicle_name" default="bluerov" />
    <arg name="arm" doc="false" />
    
    <group ns="$(arg vehicle_name)">
        <node name="yaw_control" pkg="bluerov_control" type="yaw_control.py">
            <rosparam file="$(find bluerov_control)/config/yaw_control_ground_truth.yaml" />
        </node>
        <node name="sway_control" pkg="bluerov_control" type="sway_control.py">
            <rosparam file="$(find bluerov_control)/config/sway_control_ground_truth.yaml" />
        </node>
        <node name="surge_control" pkg="bluerov_control" type="surge_control.py">
            <rosparam file="$(find bluerov_control)/config/surge_control_ground_truth.yaml" />
        </node>
        
        <node name="mixer" pkg="bluerov_control" type="mixer.py" />
        <node if="$(arg arm)" name="armed" pkg="bluerov_control" type="arming.py"></node>
        <!-- <node name="thruster_tester" pkg="bluerov_control" type="thruster_tester.py" /> -->
    </group>
</launch>