<launch>
    <!-- vehicle, camera name -->
    <arg name="vehicle_type" default="bluerov" />
    <arg name="vehicle_name" default="bluerov" />
    <arg name="camera_name" default="front_camera" />
    <arg name="do_rectify" value="true" />
    <arg name="image_raw_topic" default="image_raw" />

    <!-- use gazebo gui or rviz -->
    <arg name="gui" default="true" />
    <arg name="rviz" default="false" />

    <!-- known tags for AprilTag algorithm  -->
    <arg name="tag_file" value="$(find mu_auv_localization)/config/tags_bundle_object.yaml" />

    <!-- EKF specific -->
    <arg name="process_model" default="simple" />
    <arg name="measurement_model" default="dist" />

    <!-- launch robot specific nodes in namespace -->
    <group ns="$(arg vehicle_name)">
        <param name="vehicle_name" value="$(arg vehicle_name)" />
        <param name="vehicle_type" value="$(arg vehicle_type)" />

        <!-- start tf publisher -->
        <include file="$(find hippocampus_common)/launch/tf_publisher.launch" pass_all_args="true"></include>

        <!-- start localization -->
        <include file="$(find mu_auv_localization)/launch/localization_estimator_object.launch" pass_all_args="true"></include>
        <!-- NODES DÜRFEN NICHT IN BEIDEN LAUNCH FILES STEHEN -->
        <!-- Convert orientation from quaternion to roll, pitch, yaw -->
        <include file="$(find hippocampus_common)/launch/quat_to_rpy.launch" />

        <include file="$(find hippocampus_common)/launch/image_decoding.launch" pass_all_args="true">
            <arg name="output_topic" value="$(arg image_raw_topic)" />
        </include>
        
    </group>

</launch>